@model FacultySenateMVC.Models.ElectionSpecialSeat

@{
    ViewBag.Title = "Special Election Seat Details";
}

<h2>Special Election Seat Details</h2>

<fieldset>
    <legend>Special Election Seat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
         Election Id
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Election.Id)
    </div>

    <div class="display-label">
         Committee Seat Id
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommitteeSeat.Id)
    </div>

    <div class="display-label">
         Term Length
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TermLength)
    </div>

    <div class="display-label">
         Term End Date
    </div>
    <div class="display-field">
        @Model.TermEndDate.ToShortDateString()
    </div>

</fieldset>

<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
